GPATH
GRTAGS
GTAGS
*/ExtROM3/OBJECT/*
OBJECT/*
!OBJECT/output/*.exe
*/ExtROM3/si/*
*.kdev4
.kdev4/*
.vscode
*.bak
*release/*
*.bin
*.temp
Main/C0ST~V4O\.ARF
Main/SIGN~MOH\.ARF
version_log
.DS_Store
tags
types_c.taghl
.grayout.conf
*.lst
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
